
@{
  Layout = "_Layout";
}

@model Cafe.Models.Cuisine

<h4>Add a new cuisine</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add new cuisine" />
}
<p>@Html.ActionLink("Show all cuisines", "Index")</p>


@* 
When you use a form with Html helper methods, the directive at the top is telling you that the userinput will be instance of that class. Essentially lowercase model represents the class in this specific context.
 *@